@using WebToeic.WebAppMVC.ViewModels
@model List<UserRoleVM>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Chỉnh sửa Quyền người dùng";
}

@{
    var roleId = ViewBag.roleId;
}

<div class="text-center" style="padding-top: 20px;">
    <h2>Thêm hoặc Xoá người dùng khỏi Role</h2>
</div>

<div class="container">
    <div class="row border border-info rounded p-4">
        <div class="col-6 offset-3">
            <form method="post" href="/AdminRole/EditUsersInRole" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
            
                <div class="card">
                    <div class="card-header">
                        <h5>Thêm hoặc Xoá người dùng khỏi Role</h5>
                    </div>
                    <div class="card-body">
                        @for(int i = 0; i < Model.Count; i++)
                        {
                            <div class="form-check m-1" >
                                <input type="hidden" asp-for="@Model[i].UserId" />
                                <input type="hidden" asp-for="@Model[i].UserName" />

                                <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                                <label class="form-check-label">
                                    @Model[i].UserName
                                </label>
                            </div>
                        }
                    </div>
                    <div class="card-footer">
                        <input type="submit" value="Update" class="btn btn-primary"/>
                        <a asp-action="Edit" asp-route-id="@roleId" class="btn btn-danger">Cancel</a>
                    </div>
                </div>
             

            </form>
        </div>

    </div>
</div>